body {
    background-color: #d6d6d6;
    font-family: "SUSE", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color-scheme: normal;
    margin: 0px;
    font-size: 1vw;
}

#logo{
    margin: 0px;
    padding: 8px;
    font-family: "SUSE", sans-serif;
    font-weight: 500;
    width: 20%;
    text-align: center;
    border-radius: 50%;
    border-bottom: 2px solid #ff9900;;
    left: 30%;
    width: 150px; 
    height: 40px; 
    border-radius: 0 0 100% 100%;
}

ul{
    margin: 0px;
}

#main-header {
    background-color: #0f1111;
    display: flex;
    height: 9vh;
    align-items: center;
    justify-content: space-around;
    color: #d6d6d6;
}

#search-bar {
    margin: 30px;
    padding: 8px;
}

#nav-ul {
    list-style: none;
    text-decoration: none;
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

.navbutton {
    color: #d6d6d6;
    text-decoration: none;
    padding: 15px;
    border: 1px solid #d6d6d6;
    border-radius: 20%;
}

#legs {
    list-style: none;
    text-decoration: none;
}

#available-now{
    text-align: center;
    font-size: 350%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 20px; /* Adds space between the articles */
    justify-content: space-around;
  }
  
    article {
    flex: 1 1 calc(33.333% - 10px); /* 3 items per row, subtract the gap */
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border: 20px solid #d6d6d6;
    box-sizing: border-box;
  }

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 70%;
}

#main-content aside {
    width: 20%;
}

#sign-up {
    text-align: center;
}

body > footer {
    background-color: #232F3E;
    display: flex;
    justify-content: space-around;
}

img {
    border-radius: 10%;
    width: 200px;
    height: 200px;
}

#footer-ul{
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 25px;
}

#footer-ul > div > li > a{
    color: #DDDDDD;
    text-decoration: none;
}

footer > h2{
    color: #DDDDDD;
}

